.App {
  text-align: center;
}

.background-image {
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  width: 110%;
  height: 500px;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}